@use 'styles/colors' as *;
@use 'styles/fonts' as *;

.input {
	border: 0;
	border-bottom: 1px solid $color-white;
	outline: 0;
	background-color: transparent;
	color: $color-white;
	font-family: $font-family-roboto;
	font-size: 13px;
	padding: 4px 0;
	transition: 0.1s ease-in-out border-bottom;
	&:placeholder {
		color: $color-tuna;
	}
	&:focus {
		border-bottom: 1px solid $color-burnt-sienna;
	}
}
