@use 'styles/mixins/responsive' as *;
@use 'styles/colors' as *;

$top-bar-height: 112px;

.container {
	height: calc(100vh - $top-bar-height);
	overflow: scroll;

	@include tablet {
		display: grid;
		grid-template-columns: repeat(2, 50%);
	}
}

.textArea {
	border-right: 1px solid $color-mercury;
	height: 100%;
}
