@use 'styles/mixins/responsive' as *;
@use 'styles/colors' as *;

$navbar-height: 72px;

.container {
	height: calc(100vh - $navbar-height);
	overflow-y: scroll;

	@include tablet {
		display: grid;
		grid-template-columns: repeat(2, 50%);
	}
}

.textarea {
	@include tablet {
		border-right: 1px solid $color-mercury;
	}
}

.column {
	display: flex;
	flex-direction: column;
	height: 100%;
}
