@use 'styles/mixins/responsive' as *;
@use 'styles/colors' as *;

.container {
	height: 100vh;
	overflow: scroll;

	@include tablet {
		display: grid;
		grid-template-columns: repeat(2, 50%);
	}
}

.textArea {
	border-right: 1px solid $color-mercury;
	height: 100%;
}
