@use 'styles/colors' as *;
@use 'styles/mixins/responsive' as *;

$content-padding: 16px;
$content-padding-desktop: 24px;

.paragraph {
	font-size: 14px;
	line-height: 24px;
	color: $color-rolling-stone;
}

.orderedList,
.unorderedList {
	font-size: 14px;
	line-height: 24px;
	color: $color-rolling-stone;
}

.orderedList {
	padding-left: $content-padding;
	@include desktop-sm {
		padding: $content-padding-desktop;
	}
}

.unorderedList {
	li::before {
		content: '\2022';
		color: $color-burnt-sienna;
		margin-right: 16px;
	}
}

.blockquote {
	background-color: $color-windsand;
	padding: 24px;
	border-radius: 4px;
	border-left: 4px solid $color-burnt-sienna;
	color: $color-tuna !important;
	font-weight: 700;
}

.code {
	display: block;
	background-color: $color-windsand;
	padding: 24px;
	border-radius: 4px;
	color: $color-tuna !important;
	margin: 20px 0;
}

.editor {
	display: grid;
	row-gap: 20px;
	padding: $content-padding;
	@include desktop-sm {
		padding: $content-padding-desktop;
	}
}
