$color-woodsmoke: #151619;
$color-woodsmoke-opacity: rgba(21, 22, 25, 0.5);

$color-smoke: #1d1f22;
$color-tuna: #35393f;
$color-shittle-gray: #5a6069;
$color-rolling-stone: #7c8187;
$color-french-gray: #c1c4cb;
$color-mercury: #e4e4e4;
$color-windsand: #f5f5f5;
$color-white: #ffffff;
$color-burnt-sienna: #e46643;
$color-sandy-brown: #f39765;
$color-shark: #2b2d31;
