@use 'styles/colors' as *;
@use 'styles/fonts' as *;

.logo {
	color: $color-white;
	font-size: 15px;
	letter-spacing: 5px;
	font-weight: 700;
	font-family: $font-family-commissioner;
	text-transform: uppercase;
}
