@use 'styles/colors' as *;

.container {
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 250px;
	padding: 24px;
	background-color: $color-smoke;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.hint {
	color: $color-rolling-stone;
	font-size: 14px;
	font-family: 'Roboto';
	font-weight: 500;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.filesList {
	display: grid;
	row-gap: 24px;
}
