@use 'styles/colors' as *;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto Slab', monospace;
	font-weight: 400;
	height: 100vh;
	overflow: hidden;
}

button {
	border: 0;
	cursor: pointer;
}

ul {
	list-style: none;
}

a {
	color: inherit;
}

.Toastify__toast {
	font-family: 'Roboto';
	font-size: 14px;
	color: $color-white !important;
	background-color: $color-shark !important;
	border-bottom: 3px solid $color-burnt-sienna !important;
}

.Toastify__close-button {
	color: $color-white !important;
}
